body {
    text-align: center;
    box-sizing: border-box;
}

.player-status {
    text-align: center;
    margin: 10px;
    color: rgba(65, 65, 220, 0.6);
    font-size: 12pt;
    font-family: Palatino, Arial, Helvetica, sans-serif;
}

canvas {
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
}